.main {
  width: 600px;
}

.Show {
  background-color: black;
}

.ChangeHeight {
  height: 10px;
}

.Heading {
  width: 600px;
}

.Head {
  display: block;
  padding-top: 20px;
  padding-bottom: 10px;
}

.ProfileImg {
  float: left;
  width: 100px;
  height: auto;
}

.Body {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: antiquewhite;
  border-top-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-width: 1px;
}

.Resizing {
  margin-top: 0px;
  width: 500px;
  height: auto;
}

.BelowImg {
  margin-left: 10px;
}

.Footer {
  padding-top: 10px;
  display: grid;
  grid-template-columns: auto auto;
}

.Likes {
  width: 10px;
  height: 10px;
  grid-column-start: row1-start;
  grid-column-end: 2;
}

.LikesNum {
  font-size: 10px;
  grid-column-start: row1-start;
  grid-column-end: 2;
}
